@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --animate-twinkle: twinkle 3s ease-in-out infinite;
  --animate-shoot: shoot 3s linear infinite;
}

/* Star Animations */
@keyframes twinkle {

  0%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateX(300px) translateY(300px);
    opacity: 0;
  }
}

.animate-twinkle {
  animation: twinkle 3s ease-in-out infinite;
}

.animate-shoot {
  animation: shoot 3s linear infinite;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}